<div class="footer">
    <div>
        <a href="aboutus">About us</a><br>
    </div>
    <div>
        <a href="privacy">Privacy</a><br>
    </div>
    <div>
        <a href="terms">Terms & Conditions</a>
    </div>
    <div>
        <a href="help">How can We Help</a>
    </div>
    <div>
        <a href="faqs">FAQs</a>
    </div>
    <div>
        <p>Connect With Us</p>
    </div>
    <div class="logos">
        <div class="logo">
          <a href=""> <img src="/assets/images/iconmonstr-gmail-3.png"></a>
        </div>
        <div class="logo">
           <a href=""> <img src="/assets/images/iconmonstr-facebook-6.png"></a>
        </div>
        <div class="logo">
            <a href=""><img src="/assets/images/iconmonstr-viber-3.png"></a>
        </div>
    </div>
</div>